// BREAKPOINTS
$sm: "max-width: 768px"; // max-width
$md: "max-width: 992px"; // max-width
$lg: "max-width: 1200px"; // max-width
$xl: "max-width: 1400px"; // max-width
$xxl: "min-width: 1400px"; // min-width
