.btn:not(.btn-outline-*) {
    border: none !important;
}

.btn:has(i.fi, span) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

i.fi {
    line-height: 0;
    &::before {
        vertical-align: -0.15em;

        display: inline-flex;
    }
}
